@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.btn {
  margin: 10px 0;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.container {
  padding: 10px 25px;
}

.slide-leave-active {
  transition: .2s;
}
.slide-enter-active {
  transition: .7s;
}
.slide-enter{
  transform: translateX(300%)
}
.slide-leave-to {
  transform: translateX(-100%)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}